@font-face {
    font-family: 'CustomFont';
    src: url('../user_area/fonts/Optima\ Medium.woff') format('woff');
    /* Egyéb beállítások (pl. font-weight, font-style) */
}
h1 {
    font-family: 'CustomFont', sans-serif;
}


.login_szoveg{
    background-color: black;
    height: 100px;
}
.bejelentkezes{
    background-color: blue;
    height: 100px;
}
.regisztracio{
    background-color: rgb(37, 37, 70);
    max-width: 50%;
    height: 100px;
}





ul.header_nav-menu{
    margin-bottom: 0;
}




