@font-face {
    font-family: 'CustomFont';
    src: url('../user_area/fonts/OPTIMA_B.woff') format('woff');
    /* Egyéb beállítások (pl. font-weight, font-style) */
}

body, h1, h3 {
    font-family: 'CustomFont', 'Roboto Slab', sans-serif;
}
body, h3 , p {
    font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 40px; /* Itt állíthatod be a kívánt méretet */
}


*{
  box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



.ccontent {
    width: 90%;
    max-width: 400px;

    margin: 0 auto;
    padding: 1rem;
}

.ccardbody {
    border: 1px solid rgb(189, 189, 189);
    padding-top: 0.5rem;
    padding-right: 1.85rem;
    padding-bottom: 1.85rem;
    padding-left: 1.85rem;
}

.ccard {
    height: auto;
}

.ccardheader {
    border-bottom: 2px solid rgb(189, 189, 189);
}

.ccardprocontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.ccardcontent {
    width: calc(50% - 0.5rem); /* Módosítás: 50%-os szélesség minden elemre, padding hozzáadva a térközökhöz */
    margin-top: 1rem;
}
@media (max-width: 600px) {
    .cardcontent {
        width: calc(100% - 1rem); /* Módosítás: 100%-os szélesség kisebb kijelzőkön, padding hozzáadva a térközökhöz */
    }
}



.ccardcontent p {
    margin: 0; /* Ne legyen margin fent és lent a <p> elemeknél */
    margin-top: 0.1rem;
}

.dataheader{
    color:gray;
}

.ccardcontent {
    float:right;
}

.underlined{
    text-decoration: underline;
    color:rgb(94, 94, 94);
}

