*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.header_headerdiv1 {
    padding-left: 100px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_img{
    height:60px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.iconstyle {
        transform: scale(1.2); /* Állítsd be a kívánt méretre */
    color:#D0D1D2;
}

.header_icons a{
    margin:3px;
}

.header_headerdiv2{
    background-color: white;
    padding-left: 100px;
    padding-right:100px;
    border-top: 5px solid pink;
    border-bottom: 1px solid gray;
}

.header_nav-item{
    list-style: none;
}

.header_nav-link{
    color:black;
    text-decoration: none;
}

.header_navbar{
    min-height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.header_nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:60px;
    margin-bottom: 0;
    padding:0;
}

.header_nav-branding{
    font-size:2rem;
}

.header_nav-link{
    transition:0.1s ease;
}
.header_nav-link:hover{
    border-bottom: 3px solid pink;
}

.header_hamburger{
    display:none;
    cursor:pointer;
}

.bar{
    display:block;
    width:25px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media(max-width:1280px){
    .header_headerdiv1{
        padding-left: 70px;
        padding-right: 90px;
    }
    .header_headerdiv2{
        padding-left:70px;
        padding-right: 70px;
    }
}

@media(max-width:1024px){
    .header_headerdiv1{
        padding-left: 0px;
        padding-right: 20px;
    }
    .header_headerdiv2{
        padding-left:0px;
        padding-right: 0px;
    }
}

@media(max-width: 768px) {
    .header_hamburger {
        display: block;
    }

    .header_hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .header_hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .header_hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header_nav-menu {
        position: fixed;
        left: -100%;
        top: 126px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .header_nav-item {
        margin: 16px 0;
    }

    .header_nav-menu.active {
        left: 0;
    }

    .header_headerdiv1 {
        margin:0;
        padding-left: 40px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_headerlogo {
        text-align: center;
        margin: 0 auto; /* Margin reset, középre igazítás a szülő elemen belül */
        flex-grow: 1; /* Hogy a logo elfoglalja az elérhető teret */
    }

    .header_headericons {
        margin-left: auto;
    }
}

header form{
    display:flex;
    height:40px;
    border-radius:2px;
    padding:2px;
    background: rgb(255, 255, 255);
    min-width:18%;
    border: 1px solid #D0D1D2;
}

header form .header_search-data{
    height:100%;
    width: 100%;
    padding:0 10px;
    color:#27251F;
    font-weight:500;
    background:none;
    border:none;
}

header form button{
    padding:0 15 px;
    background: white;
    border:none;
    cursor:pointer;
    font-size:17px;
    color:#27251F;
}

::placeholder {
    color: #D0D1D2;
    opacity: 1; /* Firefox */
}

input:focus {
    outline:none;
}
