body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0;
}

header {
    width: 100%;
    box-sizing: border-box; /* Hozzáadva a paddingot a szélességhez */
}

.tabla {
width: 300px;
height: 300px;
border: 2px solid #27251F;
display: flex;
align-items: center;
justify-content: center;
margin-top: 3rem;
}

.kijelenkez {
    text-align: center;
}

.kijelenkez a {
    display: block;
    margin-bottom: 1rem; /* Tetszőleges margin a szöveg és a lakat között */
}

.szimbolum {
    display: block;
    margin-bottom: 1rem;
}


button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inline-flex;
    align-items: center;
    margin:0;
}

.btn_logout {
    width: 100%;
    background-color: #27251F;
    color: white;
    justify-content: center;
    height: 50px;
}

.btn_logout:hover {
    transition: 0.3s;
    background-color: #FFCAD4;
    color: black;
}