@font-face {
    font-family: 'CustomFont';
    src: url('../user_area/fonts/Optima\ Medium.woff') format('woff');
}

body {
    font-family: 'CustomFont', sans-serif;
}

button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.btn_place_order {
    width: 100%;
    background-color: #27251F;
    color: white;
    justify-content: center;
    height: 50px;
}

.btn_place_order:hover {
    transition: 0.3s;
    background-color: #FFCAD4;
    color: black;
}

.primary_container {
    margin-top: 1rem;
}

.cart_data {
    background-color: #F6F6F6;
    border-top: 5px solid #FFCAD4;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.cart_data_subtotal {
    display: flex;
    justify-content: space-between;
    text-align: center;
}



.cart_items_display {
    display:flex;
    margin-bottom: 1rem;

}

.cart_item_image {
    max-width: 100%;
    height: auto;
    width: 200px;
}

.cart_item_data{
    width:100%;
    margin-left: 1rem;
    display:flex;
    justify-content: space-between;
}
.cart_item_data_1{

}

.cart_item_data_2{
}


.btn_place_order {
    width: 100%;
    background-color: #27251F;
    color: white;
    justify-content: center;
    height: 50px;
}

.btn_place_order:hover {
    transition: 0.3s;
    background-color: #FFCAD4;
    color: black;
}

.quantity_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.quantity_controls {
    display: flex;
    align-items: center;
}

.quantity_btn {
    background-color: #27251F;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity_btn:hover {
    transition: 0.3s;
    background-color: #FFCAD4;
    color: black;
}

.quantity_input {
    width: 50px;
    text-align: center;
    height:34px;
}

.update_quantity_btn {
    background-color: #27251F;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.update_quantity_btn:hover {
    background-color: #FFCAD4;
    color: black;
}





